<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">Categorias</div>
    <div class="panel-body">
      <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-hover table-responsive">
          <thead>
          <tr>
              <th>Nome</th>
              <th><span class="glyphicon glyphicon-cog" style = "padding-left: 15px" aria-hidden="true"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="categoria in categorias">
            <td>
              <span editable-text="categoria.name" e-name = "nome" e-form = "rowform" onbeforesave="checkName($data, categoria.id)">{{ categoria.name }}</span>
            </td>
            <td>
              <form editable-form name="rowform" onaftersave="saveCategoria(categoria, categoria.id)"  oncancel="cancel(categoria.name, categoria.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == categoria">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button type="button" class="btn btn-primary" ng-click="rowform.$show()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
              </div>  
            </td>
          </tr>
          </tbody>
      </table>
      <button style = "margin: 10px"type="button" class="btn btn-default" ng-click="addCategoria()">Adicionar categoria</button>
    </div>
    </div>
</div>