/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body {
    background-color: #F5F7FA;
    font-family: "Source Sans Pro", sans-serif;
    color: #000000;
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 50px;
}


/* Nome do título */
.nome_principal{
  font-weight:bold;
  color:#FFFFFF;
  font-size: 22px;
}

/* Personaliza jumbotron do Bootstrap */
.jumbotron {
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: transparent  !important;
}

/* Personaliza cores da navbar*/
.topnavbar {
  background-color: #1797be;
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  border: 0;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #3A3F51;
    border-right: 1px solid #eee;
  }

/* Sidebar navigation */

#side-menu ul,
#side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
  cursor: pointer;
}

#side-menu ul .active,
#side-menu li .active {
  border-left: 6px solid #1C87AB;
  background-color: #4f5b69;
}

#side-menu ul .sub-menu li a,
#side-menu li .sub-menu li a {
  margin-left: 20px;
}
#side-menu ul .sub-menu li,
#side-menu li .sub-menu li {
  background-color: #3A3F51;
  border: none;
  line-height: 45px;
  margin-left: 0px;
}
#side-menu ul .sub-menu li:hover,
#side-menu li .sub-menu li:hover {
  background-color: #4f5b69;
}

#side-menu li {
  padding-left: 0px;
}
#side-menu li a {
  display:block;
  text-decoration: none;
  color: #D0D1D3;
  font-size: 16px;
}
#side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
#side-menu li:hover {
  border-left: 6px solid #1797be;
  background-color: #4f5b69;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#side-menu li a:hover,
#side-menu li a:focus  {
  color: #1797be;
}

/* Main content */
.main {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f5f7fa;
}

/*muda o heading padrão do bootstrap */
.panel-default > .panel-heading-custom {
  background-color: #1797be;
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

/* muda o uib-tab padrão*/
.tab-style .nav-tabs > li > a {
  background-color: #D8D8D8;
  color: black;
  font-size: 20px;
}
.tab-style .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color: #1797be;
  color: #FFFFFF;
  font-size: 20px;
}


/* Corrige posição na Datatable*/
.pagination{
  width: auto;
  display: inline-block;
}

/* Modal de alerta */

.modal  {
padding-right: 0px;
background-color: rgba(4, 4, 4, 0.8); 
}
   
.modal-dialog {
  top: 30%;
  width: 100%;
  position: absolute;
}
.modal-content {
  border-radius: 0px;
  border: none;
  top: 40%;
}
.modal-body {
  color: white;
  text-align:center;
}

/* Login */

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.logo_1dl{
    width: 500px;
    display:block;
    margin:auto;
    margin-top: -40px;
  }

.logo {
  padding-bottom: 15px;
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  font-size: 15px;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}

/*ABA DE LOGOUT*/
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
margin-top: 0; /* remove the gap so it doesn't close*/
}

.dropdown-toggle:hover {
    background-color:#1797be !important; 
    background-image: none !important;
}

.dropdown.open>a {
    background-color: #1797be !important; 
    background-image: none !important;
}

.icon-size
{
    font-size: 87px;
}